.Contact {
  .l_container {
    width: 840px;
  }
  &_contents {
    margin-top: 150px;
    &_gray {
      background-color: #eae9e8;
      padding: 40px;
      margin-bottom: 100px;
      display: flex;
      justify-content: center;
      .checkBox {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 15px 40px;
      }
      label {
        font-size: 1.5rem;
        margin-left: 8px;
      }
    }
  }
  .input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    input,
    .textarea {
      width: 586px;
      border: 1px solid black;
      padding: 20px 30px;
      font-size: 1.5rem;
    }
    .zip {
      width: 110px;
      padding: 20px 14px;
    }
    .address {
      width: 444px;
      margin-left: 10px;
    }
    .textarea {
      min-height: 200px;
    }
    label {
      font-style: normal;
      font-family: yu-mincho-pr6n, sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  }
  .input_column {
    display: flex;
    align-items: center;
    span {
      font-size: 1.5rem;
      margin-right: 12px;
    }
  }
  .input + .input {
    margin-top: 30px;
  }
  .label {
    background-color: #2f2013;
    color: white;
    font-style: normal;
    font-family: yu-mincho-pr6n, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    padding: 4px 6px;
    line-height: 1;
    margin-left: 16px;
  }

  &_modal {
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
    button {
      display: flex;
      align-items: center;
      img {
        margin-top: -4px;
        margin-left: 10px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .Contact {
    .l_container {
      width: 100%;
    }
    &_contents {
      margin-top: 100px;
      &_gray {
        background-color: #eae9e8;
        padding: 40px 30px;
        justify-content: flex-start;
        margin-bottom: 60px;
        .checkBox {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr;
          gap: 15px 40px;
        }
        label {
          font-size: 1.5rem;
          margin-left: 8px;
        }
      }
    }
    .input {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      input,
      .textarea {
        width: 100%;
        border: 1px solid black;
        padding: 20px 30px;
        font-size: 1.5rem;
      }
      .zip {
        width: unset;
        padding: 20px 14px;
        flex: 1;
      }
      .address {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
      }
      .textarea {
        min-height: 200px;
      }
      label {
        margin-bottom: 10px;
      }
    }
    .input_column {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      span {
        font-size: 1.5rem;
        margin-right: 12px;
      }
    }
    .input + .input {
      margin-top: 30px;
    }
    .label {
      background-color: #2f2013;
      color: white;
      font-style: normal;
      font-family: yu-mincho-pr6n, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.5rem;
      padding: 4px 6px;
      line-height: 1;
      margin-left: 16px;
    }

    &_modal {
      height: 100vh;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.9);
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      z-index: 100;
      button {
        display: flex;
        align-items: center;
        img {
          margin-top: -4px;
          margin-left: 10px;
        }
      }
    }
  }
}
