.Order {
  &_container {
    padding: 250px 0;
  }
  &_wrapper {
    width: $content-width;
    margin: 0 auto;
    display: block;
    & + & {
      margin-top: 170px;
    }
    &_bg {
      width: 100%;
      height: 72px;
      background-color: #eae8e4;
      transform-origin: 0 100%;
      width: 1000px;
      &-left {
        transform: skew(-29deg);
      }
      &-right {
        transform: skew(29deg);
        transform-origin: 0 0;
      }
    }
  }
  &_contents {
    width: 1000px;
    padding: 80px;
    border: 1px solid black;
    font-size: 1.5rem;
    line-height: 2;
    small {
      font-size: 1.3rem;
    }
    &_wrapper {
      display: flex;
      .image {
        margin-left: 60px;
        width: 370px;
        img {
          display: block;
          width: 100%;
        }
      }
      .text {
        width: 400px;
        p + p {
          margin-top: 24px;
        }
      }
    }
    &_pdf {
      display: flex;
      justify-content: space-between;
      a {
        width: 405px;
      }
    }
    &_gray {
      background-color: #eae9e8;
      padding: 40px 40px 50px;
      .title {
        font-style: normal;
        font-family: yu-mincho-pr6n, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.8rem;
      }
    }
  }
  &_right {
    margin-left: 40px;
  }
  &_left {
    margin-right: 40px;
  }
}

@media screen and (max-width: 767px) {
  .Order {
    &_container {
      padding: 150px 0;
    }
    &_wrapper {
      width: 300px;
      & + & {
        margin-top: 100px;
      }
      &_bg {
        height: 20px;
        width: 300px;
        &-left {
          transform: skew(-44deg);
        }
        &-right {
          transform: skew(44deg);
        }
      }
    }
    &_contents {
      width: 300px;
      padding: 40px 20px;
      font-size: 1.5rem;
      &_wrapper {
        flex-direction: column;
        .image {
          margin-left: 0;
          margin-top: 40px;
          width: unset;
          img {
            display: block;
          }
        }
        .text {
          width: unset;
        }
      }
      &_pdf {
        flex-direction: column;
        a {
          width: 100%;
        }
        .BlockLink + .BlockLink {
          margin-top: 20px;
        }
      }
      &_gray {
        padding: 30px 24px 40px;
        .title {
          font-size: 1.7rem;
        }
      }
    }
    &-indent {
      padding-left: 1ch;
      text-indent: -1ch;
    }
    &_right {
      margin-left: 20px;
    }
    &_left {
      margin-right: 20px;
    }
  }
}
