.SoilPj {
  &_lead {
    display: flex;
    align-items: center;
    padding: 400px 0 250px;
    position: relative;
    background-image: url(/img/img_soilpj_bg_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    flex-direction: column;
    .wrapper {
      width: 558px;
      margin: 0 auto;
    }
    .title {
      font-size: 3rem;
      margin-bottom: 100px;
      font-style: normal;
      font-family: yu-mincho-pr6n, sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    p {
      line-height: 3;
      span {
        border-bottom: 1px solid #fff;
      }
    }
    p + p {
      margin-top: 2rem;
    }
    .image {
      width: 630px;
      margin: 70px auto 0;
    }
    .label {
      position: absolute;
      top: -24px;
      left: pxvw(180, 'pc');
      width: 551px;
      height: 114px;
      z-index: 2;
    }
    &:after {
      display: block;
      content: '';
      width: 174px;
      height: 42px;
      background-image: url(/img/img_soilpj_bg_2.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: -32px;
      right: pxvw(50, 'pc');
    }
    .image_1,
    .image_2,
    .image_3 {
      position: absolute;
      z-index: 0;
    }
    .image_1 {
      top: 30%;
      left: 0;
      width: 212px;
    }
    .image_2 {
      top: 48%;
      right: 0;
      width: 260px;
    }
    .image_3 {
      top: 60%;
      left: 5%;
      width: 184px;
    }
  }
  &_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 100px 80px;
    margin-top: 110px;
    li {
      position: relative;
    }
    .title {
      font-style: normal;
      font-family: yu-mincho-pr6n, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 2.6rem;
      margin-top: 40px;
    }
    .text {
      font-size: 1.5rem;
      margin-top: 40px;
      line-height: 2;
    }
    .image {
      width: 460px;
      height: 408px;
    }
    .BlockLabel {
      position: absolute;
      top: -20px;
      left: -10px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .SoilPj {
    &_lead {
      padding: 200px 30px 130px;
      background-image: url(/img/img_soilpj_bg_1_sp.png);
      .wrapper {
        width: 100%;
      }
      .title {
        font-size: 2rem;
        margin-bottom: 60px;
      }
      p {
        line-height: 3;
        font-size: 1.5rem;
      }
      p + p {
        margin-top: 2rem;
      }
      .image {
        width: auto;
        margin: 70px auto 0;
      }
      .label {
        position: absolute;
        top: -24px;
        left: 30px;
        width: 209px;
        height: 111px;
        z-index: 2;
      }
      &:after {
        display: none;
      }
      .image_1,
      .image_2,
      .image_3 {
        position: absolute;
        z-index: 0;
      }
      .image_1 {
        top: 0;
        left: -30px;
        width: 200px;
        position: relative;
        margin: 60px 0;
      }
      .image_2 {
        bottom: 0;
        right: -30px;
        width: 160px;
        position: relative;
        left: unset;
        margin-left: auto;
        margin-top: 60px;
      }
      .image_3 {
        bottom: 40px;
        left: -30px;
        width: 120px;
        position: relative;
        margin-right: auto;
        margin-bottom: 60px;
      }
    }
    &_list {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: 100px 80px;
      margin-top: 110px;
      li {
        position: relative;
      }
      .title {
        font-size: 2rem;
      }
      .text {
        font-size: 1.5rem;
        margin-top: 40px;
        line-height: 2;
      }
      .image {
        width: 460px;
        height: 408px;
      }
      .BlockLabel {
        position: absolute;
        top: -20px;
        left: -10px;
      }
    }
  }
}
