//
// Color system
//

// colors
$white: #ffffff;
$green: #00bcb7;
$green: #00bcb7;
$black: #000;
$brown: #2f2013;
$red: #992f3a;

$gray-1: #646464;
$gray-2: #eeebeb;
$gray-3: #a5a5a5;

$min-width: 1320px;
$content-width: 1040px;

// wrapper
$pages-wrapper: 1150px;

// header height
$header-height: 106px;

// header sp height
$header-sp-height: 77px;

//
// Body
//
$body-bg: $white;
