.Footer {
  &_wrapper {
    display: flex;
    justify-content: center;
    padding: 220px 20px 110px;

    span {
      font-size: 1.3rem;
      margin-top: 8px;
    }
  }

  &_logo {
    img {
      width: 100%;
    }
  }

  &_lead {
    font-size: 1.5rem;
    margin-top: 30px;
    line-height: 2.2;
  }

  &_container {
    &_left {
      width: 350px;
      margin-right: 150px;
    }
  }

  &_copy {
    display: block;
    height: 142px;
    background-color: $brown;
    padding-left: 180px;
    color: white;
    display: flex;
    align-items: center;
  }

  &_link_title p,
  &_link p,
  &_link_small {
    font-style: normal;
    font-family: yu-mincho-pr6n, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

@media screen and (max-width: 767px) {
  .Footer {
    &_wrapper {
      flex-direction: column;
      padding: 110px 20px 110px;

      span {
        font-size: 1.3rem;
        margin-top: 8px;
      }
    }
    &_container {
      &_left {
        width: auto;
        margin-right: unset;
      }
    }
    &_copy {
      padding: 0 20px;
      justify-content: center;
      font-size: 1.2rem;
    }
  }
}
