.HalfImageInternalLinks {
  .wrapper {
    padding: 0 5px;
    display: flex;
    font-family: 'Yu Mincho', 'YuMincho', serif;
  }

  .imageLink {
    width: 50%;
    position: relative;

    .text {
      color: white;
      position: absolute;
      left: pxvw(192, 'pc');
      bottom: pxvw(130, 'pc');

      p {
        font-size: pxvw(16, 'pc');
        margin-bottom: pxvw(8, 'pc');
        display: flex;
        align-items: center;
        &:after {
          content: '';
          display: block;
          width: pxvw(100, 'pc');
          height: pxvw(10, 'pc');
          margin-left: pxvw(20, 'pc');
          background-image: url(/img/ico_arrow_large_white.svg);
          background-size: contain;
          background-repeat: no-repeat;
          transition: all 0.2s;
        }
      }
      span {
        font-size: pxvw(13, 'pc');
      }
    }

    &:hover {
      .text {
        p:after {
          transform: translateX(5px);
        }
      }
    }
  }

  .blockLink {
    width: 50%;
    padding: 80px 0;
    position: relative;
    border: 1px black solid;
    display: flex;
    justify-content: center;

    .text {
      p {
        font-size: pxvw(18, 'pc');
        margin-bottom: pxvw(8, 'pc');
        display: flex;
        align-items: center;
        &:after {
          content: '';
          display: block;
          width: pxvw(100, 'pc');
          height: pxvw(10, 'pc');
          margin-left: pxvw(20, 'pc');
          background-image: url(/img/ico_arrow_large.svg);
          background-size: contain;
          background-repeat: no-repeat;
          transition: all 0.2s;
        }
      }
      span {
        font-size: pxvw(13, 'pc');
      }
    }

    &:hover {
      .text {
        p:after {
          transform: translateX(5px);
        }
      }
    }
  }

  .imageLink + .imageLink,
  .blockLink + .blockLink {
    margin-left: 5px;
  }
  .wrapper + .wrapper {
    margin-top: 5px;
  }
}

@media screen and (max-width: 767px) {
  .HalfImageInternalLinks {
  }
}
