.HalfImageInternalLinks {
  .wrapper {
    padding: 0 5px;
    display: flex;
    font-style: normal;
    font-family: yu-mincho-pr6n, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .imageLink {
    width: 50%;
    position: relative;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-service {
      background-image: url(/img/img_footer_service.png);
    }
    &-project {
      background-image: url(/img/img_footer_project.png);
    }

    .titleText {
      font-size: pxvw(26, 'pc');
      margin-bottom: 32px;
    }
    .lead {
      font-size: 1.5rem;
      margin-bottom: 50px;
      line-height: 2;
      font-family: -apple-system-subset, Helvetica, Hiragino Kaku Gothic ProN, sans-serif;
    }

    .text {
      p {
        font-size: pxvw(16, 'pc');
        margin-bottom: pxvw(8, 'pc');
        display: flex;
        align-items: center;
        &:after {
          content: '';
          display: block;
          width: pxvw(100, 'pc');
          height: pxvw(10, 'pc');
          margin-left: pxvw(20, 'pc');
          background-image: url(/img/ico_arrow_large_white.svg);
          background-size: contain;
          background-repeat: no-repeat;
          transition: all 0.2s;
        }
      }
      span {
        font-size: pxvw(13, 'pc');
        font-family: cormorant, serif;
        font-weight: 600;
      }
    }

    &:hover {
      .text {
        p:after {
          transform: translateX(5px);
        }
      }
    }
  }

  .blockLink {
    width: 50%;
    padding: 80px 0;
    position: relative;
    border: 1px black solid;
    display: flex;
    justify-content: center;

    .text {
      p {
        font-size: pxvw(18, 'pc');
        margin-bottom: pxvw(8, 'pc');
        display: flex;
        align-items: center;
        &:after {
          content: '';
          display: block;
          width: pxvw(100, 'pc');
          height: pxvw(10, 'pc');
          margin-left: pxvw(20, 'pc');
          background-image: url(/img/ico_arrow_large.svg);
          background-size: contain;
          background-repeat: no-repeat;
          transition: all 0.2s;
        }
      }
      span {
        font-size: pxvw(13, 'pc');
        font-family: cormorant, serif;
        font-weight: 600;
      }
    }

    &:hover {
      .text {
        p:after {
          transform: translateX(5px);
        }
      }
    }
  }

  .imageLink + .imageLink,
  .blockLink + .blockLink {
    margin-left: 5px;
  }
  .wrapper + .wrapper {
    margin-top: 5px;
  }
}

@media screen and (max-width: 767px) {
  .HalfImageInternalLinks {
    .wrapper {
      padding: 0 5px;
      flex-direction: column;
    }
    .imageLink {
      height: 250px;
      .titleText {
        font-size: 2rem;
        margin-bottom: 14px;
      }
      .lead {
        margin-bottom: 20px;
      }
      .text {
        p {
          font-size: 14px;
          margin-bottom: 8px;
          &:after {
            width: 10px;
            height: 10px;
            margin-left: 20px;
            background-image: url(/img/ico_arrow_small_white.svg);
          }
        }
        span {
          font-size: 12px;
        }
      }
    }
    .blockLink {
      padding: 50px 0;
      .text {
        p {
          font-size: 16px;
          margin-bottom: 0;
          &:after {
            width: 10px;
            height: 10px;
            margin-left: 20px;
            background-image: url(/img/ico_arrow_small.svg);
          }
        }
        span {
          font-size: 13px;
        }
      }
    }
    .imageLink,
    .blockLink {
      width: 100%;
    }
    .imageLink + .imageLink,
    .blockLink + .blockLink {
      margin-left: 0;
      margin-top: 5px;
    }
  }
}
