.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 30px 24px;
  min-width: $min-width;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 1320px) {
  .Header {
    padding: 24px 14px;
    min-width: unset;
  }
}
