.LabelContents {
  position: relative;
  width: 1000px;
  border: 1px solid black;
  &_title {
    font-size: 2.6rem;
    padding: 40px 45px 30px;
    font-style: normal;
    font-family: yu-mincho-pr6n, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    &-small {
      font-size: 1.8rem;
      line-height: 2;
      padding-right: 80px;
    }
  }
  &_text {
    padding: 70px 50px 50px;
    font-size: 1.5rem;
    line-height: 2;
  }
  &_question {
    padding: 47px 45px 30px;
    font-size: 1.8rem;
    font-style: normal;
    font-family: yu-mincho-pr6n, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2;
  }
  &_answer {
    font-size: 1.5rem;
  }
  .BlockLabel {
    position: absolute;
    top: -20px;
    left: 45px;
  }
}

@media screen and (max-width: 1000px) {
  .LabelContents {
    width: 300px;
    &_title {
      font-size: 1.8rem;
      padding: 30px 30px 20px;
      line-height: 2;
      &-small {
        font-size: 1.8rem;
        line-height: 2;
        padding-right: 60px;
      }
    }
    &_text {
      padding: 40px 50px 50px;
      font-size: 1.5rem;
      line-height: 2;
    }
    &_question {
      padding: 47px 45px 30px;
      font-size: 1.8rem;
      font-style: normal;
      font-family: yu-mincho-pr6n, sans-serif;
      font-weight: 400;
      font-style: normal;
      line-height: 2;
    }
    &_answer {
      font-size: 1.5rem;
    }
    .BlockLabel {
      position: absolute;
      top: -20px;
      left: 30px;
    }
  }
}
