.Loader {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;

  &_slide {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.6s ease-in;

    &.loaded {
      opacity: 1;
    }
  }
  &.open {
    animation-name: slideOut;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-timing-function: ease-in;
    z-index: 1000;
  }

  &_logo {
    &_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &_image {
    opacity: 0;
    width: 330px;
  }
}

@include breakPoint(md) {
  .Loader {
    &_text {
      margin-bottom: pxvw(21, 'sp');
      width: pxvw(190, 'sp');
    }
    &_image {
      width: pxvw(256, 'sp');
    }
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
