.LocalMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $brown;
  height: 160px;
  padding: 0 60px;

  &_content {
    width: 100%;
    max-width: $min-width;
    min-width: $min-width;
    margin-top: -10px;
  }

  &_title {
    font-size: 1.8rem;
    font-family: 'Yu Mincho', 'YuMincho', serif;
    color: white;
    margin-bottom: 20px;
  }

  &_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    li + li {
      margin-left: 30px;
    }
    a {
      color: white;
      font-size: 1.4rem;
    }
  }

  &_wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .LocalMenu {
  }
}
