.Navi {
  &_list {
    display: flex;
    align-items: center;
  }

  &_item {
    position: relative;
    & + & {
      margin-left: 30px;
    }
  }

  &_innerList {
    display: grid;
    padding-top: 75px;
    padding-left: 14px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px 30px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
    li {
      white-space: nowrap;
    }
    &.is-show {
      opacity: 1;
      visibility: visible;
    }
    &:after {
      display: block;
      content: '';
      background-color: #2f2013;
      margin: 0 calc(50% - 50vw);
      width: 100vw;
      position: fixed;
      top: 100px;
      left: 0;
      height: 100px;
      z-index: -1;
    }
    &:before {
      width: 1px;
      height: 74px;
      position: absolute;
      left: 0;
      top: 45px;
      background-color: white;
      content: '';
      display: block;
    }
    &-row1 {
      padding-top: 85px;
      &:before {
        top: 40px;
      }
    }
    .ArrowLink {
      color: white;
      font-size: 1.5rem;
    }
  }

  &_wrapper {
    display: flex;
    justify-content: space-between;
  }

  &_others {
    display: flex;
    align-items: center;
    margin-left: 70px;
    font-family: cormorant, serif;
    font-weight: 600;
    a + a {
      margin-left: 14px;
      margin-top: -4px;
    }
  }

  &_menu {
    display: none;
  }
}

@media screen and (max-width: 1320px) {
  .Navi {
    position: relative;

    &_list,
    &_others {
      display: none;
    }

    &_menu {
      height: 26px;
      width: 26px;
      justify-content: center;
      align-items: center;
      top: 30px;
      right: 15px;
      z-index: 1002;
      position: fixed;
      display: flex;
      &.is-show {
        transition: all 0.2s;
        opacity: 1;

        .ArrowLink {
          color: white;
          font-size: 1.3rem;
        }
      }
      span {
        display: block;
        width: 100%;
        &:before,
        &:after {
          transition: all 0.2s;
          content: '';
          display: block;
          height: 1px;
          width: 100%;
          background-color: black;
          position: absolute;
        }
        &:before {
          bottom: 9px;
        }
        &:after {
          top: 9px;
        }
      }
    }
  }
}
