<footer class="Footer">
  <div class="Footer_wrapper">
    <div class="Footer_container_left">
      <a class="Footer_logo" href="#">
        <img src="/img/logo.svg" alt="株式会社DGCテクノロジー">
      </a>
      <p class="Footer_lead">
        弊社のサイト・配布資料・論文など著作物に全て関しまして、無断で転載・再配布することを禁じます。引用などで弊社の著作物が必要な場合は、誤解、ミスリードを避けるために、お手数ですが弊社までお問い合わせください。</p>
      <a class="Footer_link" href="#">
        <p>お問い合せ</p>
        <span>Contact</span>
      </a>
    </div>

    <div class="Footer_container_right">
      <div class="Footer_link_title">
        <p>土壌分析サービス</p>
        <span>Soil analysis service</span>
      </div>
      <ul class="Footer_list">
        <li>
          <a class="Footer_link_small" href="#">
            土壌微生物多様性・活性値（BIOTREX）とは？
          </a>
        </li>
        <li>
          <a class="Footer_link_small" href="#">
            土壌分析の種類・料金
          </a>
        </li>
        <li>
          <a class="Footer_link_small" href="#">
            「農の匠の土づくり」活用事例
          </a>
        </li>
        <li>
          <a class="Footer_link_small" href="#">
            お申込みの流れ
          </a>
        </li>
        <li>
          <a class="Footer_link_small" href="#">
            初めての方向けサービス概要
          </a>
        </li>
      </ul>
      <a class="Footer_link" href="#">
        <p>SOIL PROJECT</p>
        <span>What’s SOIL PROJECT</span>
      </a>
      <a class="Footer_link" href="#">
        <p>DGCテクノロジーについて</p>
        <span>About DGC Technology</span>
      </a>
      <a class="Footer_link" href="#">
        <p>お申し込み・お問い合わせ</p>
        <span>Contact</span>
      </a>
      <a class="Footer_link_small" href="#">
        よくあるご質問
      </a>
      <div class="Footer_others">
        <a href="#"><img src="/img/ico_facebook.svg" alt=""></a>
        <a href="#">English</a>
      </div>
    </div>

  </div>

  <small class="Footer_copy">Copyright(c) DGC Technology Inc. All right Reserveed</small>
</footer>