<section class="HalfImageInternalLinks">
  <div class="wrapper">
    <a class="imageLink" href="#">
      <img src="/img/img_footer_service.png" alt="土壌分析サービス" />
      <div class="text">
        <p>詳しく見る</p>
        <span>More</span>
      </div>
    </a>
    <a class="imageLink" href="#">
      <img src="/img/img_footer_project.png" alt="土壌分析サービス" />
      <div class="text">
        <p>詳しく見る</p>
        <span>More</span>
      </div>
    </a>
  </div>
  <div class="wrapper">
    <a class="blockLink" href="#">
      <div class="text">
        <p>お申し込みの流れ</p>
        <span>Application flow</span>
      </div>
    </a>
    <a class="blockLink" href="#">
      <div class="text">
        <p>よくある質問</p>
        <span>FAQ</span>
      </div>
    </a>
  </div>
</section>