<section class="HalfImageInternalLinks slideUp">
  <div class="wrapper">
    <a class="imageLink imageLink-service" href="/biodiversity/index.html">
      <div class="textWrapper">
        <div class="title">
          <h3 class="titleText">土壌分析サービス</h3>
          <p class="lead">よい土ってなんだろう？</p>
        </div>
        <div class="text">
          <p>詳しく見る</p>
          <span>More</span>
        </div>
      </div>
    </a>

    <a class="imageLink imageLink-project" href="/soilproject/index.html">
      <div class="textWrapper">
        <div class="title">
          <h3 class="titleText">SOIL PROJECT</h3>
          <p class="lead">微生物が元気な畑はなぜ、<br>
            おいしいんだろう？</p>
        </div>
        <div class="text">
          <p>詳しく見る</p>
          <span>More</span>
        </div>
      </div>
    </a>
  </div>
  <div class="wrapper">
    <a class="blockLink" href="/biodiversity/order.html">
      <div class="text">
        <p>お申し込みの流れ</p>
        <span>Application flow</span>
      </div>
    </a>
    <a class="blockLink" href="/qa/index.html">
      <div class="text">
        <p>よくある質問</p>
        <span>FAQ</span>
      </div>
    </a>
  </div>
</section>