<section class="Case_interview Case_interview-gray slideUp">
  <div class="l_container mb-30">
    <div class="SectionTitle">
      <h2>インタビュー一覧</h2>
      <span>List of interviews</span>
    </div>
  </div>

  <div class="Slider">
    <a class="Slider_item" href="./case01.html"><img src="/img/case/img_slider_case01.png" alt="case01" /></a>
    <a class="Slider_item" href="./case02.html"><img src="/img/case/img_slider_case02.png" alt="case02" /></a>
    <a class="Slider_item" href="./case03.html"><img src="/img/case/img_slider_case03.png" alt="case03" /></a>
    <a class="Slider_item" href="./case04.html"><img src="/img/case/img_slider_case04.png" alt="case04" /></a>
    <a class="Slider_item" href="./case05.html"><img src="/img/case/img_slider_case05.png" alt="case05" /></a>
    <a class="Slider_item" href="./case06.html"><img src="/img/case/img_slider_case06.png" alt="case06" /></a>
    <a class="Slider_item" href="./case07.html"><img src="/img/case/img_slider_case07.png" alt="case07" /></a>
    <a class="Slider_item" href="./case08.html"><img src="/img/case/img_slider_case08.png" alt="case08" /></a>
    <a class="Slider_item" href="./case09.html"><img src="/img/case/img_slider_case09.png" alt="case09" /></a>
    <a class="Slider_item" href="./case10.html"><img src="/img/case/img_slider_case10.png" alt="case10" /></a>
    <a class="Slider_item" href="./case11.html"><img src="/img/case/img_slider_case11.png" alt="case11" /></a>
  </div>

  <div class="l_container Case_interview_button">
    <a class="BlockLink BlockLink-reverse" href="./">
      <div class="BlockLink_text">
        <p>活用事例一覧へ戻る</p>
        <span>Back to Case Study</span>
      </div>
    </a>
  </div>
</section>