<!-- Google Tag Manager for peaberry -->
<script>
  (function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
      'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-MRW4RVT');
</script>
<!-- End Google Tag Manager -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
<title>{{title}}</title>
<meta name="description" content="{{description}}">
<meta property="og:title" content="{{title}}">
<meta property="og:site_name" content="DGCテクノロジー「微生物の力で世界の土を豊かに」">
<meta property="og:description" content="{{description}}">
<meta property="og:url" content="https://www.dgc.co.jp/">
<meta property="og:image" content="/img/og_image.jpg">
<meta property="og:type" content="article">
<link rel="icon" href="/img/favicon.ico">
<link rel="apple-touch-icon" href="/img/webclip.png" sizes="180x180">
<link rel="stylesheet" href="/scss/style.scss">