<nav id="navi" class="Navi_wrapper">
  <ul class="Navi_list">
    <li class="Navi_item js-NaviItem">
      <a class="ArrowLink" href="/biodiversity/index.html">土壌分析サービス</a>
      <ul class="Navi_innerList">
        <li>
          <a class="ArrowLink ArrowLink-white" href="/biodiversity/index.html">土壌微生物多様性・活性値（BIOTREX）とは？</a>
        </li>
        <li>
          <a class="ArrowLink ArrowLink-white" href="/biodiversity/price.html">土壌分析の種類・料金</a>
        </li>
        <li>
          <a class="ArrowLink ArrowLink-white" href="/biodiversity/case/index.html">「農の匠の土づくり」活用事例</a>
        </li>
        <li>
          <a class="ArrowLink ArrowLink-white" href="/biodiversity/order.html">お申し込みの流れ</a>
        </li>
        <li>
          <a class="ArrowLink ArrowLink-white" href="/biodiversity/soil.html">We love Farmer</a>
        </li>
      </ul>
    </li>
    <li class="Navi_item">
      <a class="ArrowLink" href="/soilproject/index.html">SOIL PROJECT</a>
    </li>
    <li class="Navi_item">
      <a class="ArrowLink" href="/about/index.html">DGCテクノロジー</a>
    </li>
    <li class="Navi_item js-NaviItem">
      <a class="ArrowLink" href="/contact/index.html">お問い合わせ</a>
      <ul class="Navi_innerList Navi_innerList-row1">
        <li>
          <a class="ArrowLink ArrowLink-white" href="/qa/index.html">よくあるご質問</a>
        </li>
      </ul>
    </li>
  </ul>
  <button class="Navi_menu js-Navi_menu" type="button">
    <span></span>
  </button>
  <div class="Navi_others">
    <a href="https://www.biotrex.eu/" target="_blank">English</a>
    <a href="https://www.facebook.com/DGCSoilProject/" target="_blank"><img src="/img/ico_facebook.svg"
        alt="Facebook"></a>
  </div>
</nav>