<div class="VerticalPageLinks_title">
  <p>土壌分析サービス</p>
  <span class="VerticalPageLinks_small">Soil analysis service</span>
</div>
<ul class="VerticalPageLinks">
  <li>
    <a class="VerticalPageLinks_link_small" href="/biodiversity/index.html">
      土壌微生物多様性・活性値<br class="sp">（BIOTREX）とは？
    </a>
  </li>
  <li>
    <a class="VerticalPageLinks_link_small" href="/biodiversity/price.html">
      土壌分析の種類・料金
    </a>
  </li>
  <li>
    <a class="VerticalPageLinks_link_small" href="/biodiversity/case/index.html">
      「農の匠の土づくり」活用事例
    </a>
  </li>
  <li>
    <a class="VerticalPageLinks_link_small" href="/biodiversity/order.html">
      お申込みの流れ
    </a>
  </li>
  <li>
    <a class="VerticalPageLinks_link_small" href="/biodiversity/soil.html">
      初めての方向けサービス概要
    </a>
  </li>
</ul>
<a class="VerticalPageLinks_link" href="/soilproject/index.html">
  <p>SOIL PROJECT</p>
  <span class="VerticalPageLinks_small">What’s SOIL PROJECT</span>
</a>
<a class="VerticalPageLinks_link" href="/about/index.html">
  <p>DGCテクノロジーについて</p>
  <span class="VerticalPageLinks_small">About DGC Technology</span>
</a>
<a class="VerticalPageLinks_link" href="/contact/index.html">
  <p>お申し込み・お問い合わせ</p>
  <span class="VerticalPageLinks_small">Contact</span>
</a>
<a class="VerticalPageLinks_link_small" href="/qa/index.html">
  よくあるご質問
</a>
<div class="VerticalPageLinks_others">
  <a href="https://www.facebook.com/DGCSoilProject/" target="_blank">
    <img class="fb_black" src="/img/ico_facebook.svg" alt="Facebook">
    <img class="fb_white" src="/img/ico_facebook_w.svg" alt="Facebook">
  </a>
  <a href="https://www.biotrex.eu/" target="_blank">English</a>
</div>