.ArrowLink {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1;
  font-style: normal;
  font-family: yu-mincho-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal;

  &:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-image: url(/img/ico_arrow_small.svg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    margin-left: 10px;
    transition: all 0.2s;
  }
  &:hover {
    &:after {
      transform: translateX(5px);
    }
  }

  &-white {
    color: white;
    &:after {
      background-image: url(/img/ico_arrow_small_white.svg);
    }
  }

  &-current {
    text-decoration: underline;
  }
}

@media screen and (max-width: 1000px) {
  .ArrowLink {
    &-current {
      &:before {
        bottom: -6px;
      }
    }
  }
}
