.BlockLabel {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border: 1px solid black;
  background-color: white;
  font-family: cormorant, yu-mincho-pr6n;
  font-weight: 600;
  &-yumincho {
    font-family: yu-mincho-pr6n;
    font-weight: normal;
  }
}

@media screen and (max-width: 767px) {
  .BlockLabel {
  }
}
