.BlockLabel {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border: 1px solid black;
  background-color: white;
}

@media screen and (max-width: 767px) {
  .BlockLabel {
  }
}
