.BlockLink {
  width: 100%;
  height: 96px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border: 1px solid black;

  &_text {
    p {
      display: flex;
      align-items: center;
      font-size: 1.8rem;
      font-style: normal;
      font-family: yu-mincho-pr6n, sans-serif;
      font-weight: 400;
      font-style: normal;
      &:after {
        display: block;
        content: '';
        background-size: contain;
        background-repeat: no-repeat;
        width: 100px;
        height: 10px;
        background-image: url(/img/ico_arrow_large.svg);
        margin-left: 20px;
        transition: all 0.2s;
      }
    }

    span {
      font-size: 1.2rem;
      margin-top: 4px;
      display: block;
    }
  }

  &-white {
    color: white;
    border-color: white;
    .BlockLink_text {
      p {
        &:after {
          background-image: url(/img/ico_arrow_large_white.svg);
        }
      }
    }
  }

  &-small {
    height: 66px;
    .BlockLink_text {
      p {
        &:after {
          background-image: url(/img/ico_arrow_small.svg);
        }
      }
      span {
        margin-top: 0;
      }
    }
  }

  &-reverse {
    .BlockLink_text {
      p {
        &:after {
          background-image: url(/img/ico_arrow_large_reverse.svg);
        }
      }
    }
  }

  &-pdf,
  &-word {
    position: relative;
    &:after {
      display: block;
      content: '';
      background-image: url(/img/ico_pdf.svg);
      background-size: contain;
      width: 60px;
      height: 38px;
      position: absolute;
      right: -10px;
      top: 50%;
      transform: translateY(-50%);
    }
    .BlockLink_text {
      p {
        font-size: 1.8rem;
        &:after {
          background-image: unset;
        }
      }
      span {
        font-size: 1.5rem;
      }
    }
  }

  &-word {
    &:after {
      background-image: url(/img/ico_word.svg);
    }
  }

  &:hover {
    p {
      &:after {
        transform: translateX(5px);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .BlockLink {
    padding: 20px;
    height: unset;
    &_text {
      p {
        font-size: 1.6rem;
        &:after {
          width: 10px;
          height: 10px;
          background-image: url(/img/ico_arrow_small.svg);
        }
      }

      span {
        font-size: 1.2rem;
        margin-top: 0;
      }
    }
    &-pdf,
    &-word {
      &:after {
        width: 50px;
        height: 30px;
        right: -5px;
        top: -5px;
        transform: unset;
      }
      .BlockLink_text {
        p {
          font-size: 1.6rem;
        }
        span {
          font-size: 1.3rem;
        }
      }
    }
  }
}
