.BlockLink {
  width: 100%;
  height: 96px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border: 1px solid black;

  &_text {
    p {
      display: flex;
      align-items: center;
      font-size: 1.8rem;
      font-family: 'Yu Mincho', 'YuMincho', serif;
      &:after {
        display: block;
        content: '';
        background-size: contain;
        background-repeat: no-repeat;
        width: 100px;
        height: 10px;
        background-image: url(/img/ico_arrow_large.svg);
        margin-left: 20px;
        transition: all 0.2s;
      }
    }

    span {
      font-size: 1.2rem;
      margin-top: 4px;
      display: block;
    }
  }

  &-white {
    color: white;
    border-color: white;
    .BlockLink_text {
      p {
        &:after {
          background-image: url(/img/ico_arrow_large_white.svg);
        }
      }
    }
  }

  &-small {
    height: 66px;
    .BlockLink_text {
      p {
        &:after {
          background-image: url(/img/ico_arrow_small.svg);
        }
      }
      span {
        margin-top: 0;
      }
    }
  }

  &-reverse {
    .BlockLink_text {
      p {
        &:after {
          background-image: url(/img/ico_arrow_large_reverse.svg);
        }
      }
    }
  }

  &:hover {
    p {
      &:after {
        transform: translateX(5px);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .BlockLink {
  }
}
