.Expand {
  &_wrapper {
    display: none;
  }
  &_arrow {
    position: relative;
    &:after {
      content: '';
      display: block;
      background-image: url(/img/ico_qa_arrow.svg);
      background-size: contain;
      width: 17px;
      height: 17px;
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translateY(-50%);
      transition: all 0.2s;
    }
    &.is-open {
      &:after {
        transform: rotate(180deg);
      }
    }
  }
  .js-expand {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
  }
}
