.Main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 600px;

  &_contents {
    margin: 0 auto;

    &-case {
      width: 718px;
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .Main {
    height: 500px;
    padding: 0 30px;

    &_contents {
      margin: 0 auto;

      &-case {
        width: 100%;
        img {
          width: 100%;
        }
      }

      &-soil {
        padding: 100px 0 0;
      }
    }
  }
}
