.ScrollDown {
  display: inline-block;
  position: absolute;
  right: 40px;
  bottom: 20px;
  z-index: 2;
  overflow: hidden;
  height: 134px;
  img {
    margin-left: 4px;
    height: 41px;
  }
  &:before,
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 72px;
  }
  &:before {
    background: white;
  }
  &:after {
    background: $black;
    animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
  }
}

@media screen and (max-width: 767px) {
  .ScrollDown {
    left: 20px;
    height: 180px;
    img {
      width: 12px;
    }
    &:before {
      height: 100px;
    }
    &:after {
      height: 100px;
    }
  }
}

@keyframes sdl {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}
