.SectionTitle {
  small {
    font-size: 1.8rem;
    margin-bottom: 40px;
    display: block;
  }
  h2 {
    font-size: 3rem;
    line-height: 2;
    display: block;
  }
  span {
    margin-top: 8px;
    font-size: 1.5rem;
    display: block;
    font-family: cormorant, serif;
    font-weight: 600;
  }
  small,
  h2 {
    font-style: normal;
    font-family: yu-mincho-pr6n, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  em {
    font-weight: normal;
    font-size: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .SectionTitle {
    small {
      font-size: 1.6rem;
      margin-bottom: 40px;
    }
    h2 {
      font-size: 2.2rem;
    }
  }
}
