@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* foundation */
@import './foundation/reset.scss';
@import './foundation/variables.scss';
@import './foundation/common.scss';
@import './foundation/breakPoint.scss';
@import './foundation/page.scss';
@import './foundation/pxvw.scss';

/* component */
@import './component/annotation.scss';
@import './component/layout.scss';
@import './component/main.scss';
@import './component/arrowLink.scss';
@import './component/scrollDown.scss';
@import './component/sectionTitle.scss';
@import './component/blockLink.scss';
@import './component/scrollTop.scss';
@import './component/marker.scss';
@import './component/blockLabel.scss';
@import './component/expand.scss';

/* ui */
@import './ui/header.scss';
@import './ui/navi.scss';
@import './ui/localMenu.scss';
@import './ui/halfImageInternalLinks.scss';
@import './ui/fullImageInternalLink.scss';
@import './ui/imageList.scss';
@import './ui/slider.scss';
@import './ui/labelContents.scss';
@import './ui/footer.scss';
@import './ui/loader.scss';
@import './ui/fullMenu.scss';
@import './ui/verticalPageLinks.scss';

/* pages */
@import './pages/top.scss';
@import './pages/case.scss';
@import './pages/biodiversity.scss';
@import './pages/price.scss';
@import './pages/order.scss';
@import './pages/soilproject.scss';
@import './pages/about.scss';
@import './pages/contact.scss';
